/* Contenedor principal del banner */
.banner {
    display: flex;
    height: 69vh;
    background: linear-gradient(90deg, #1a1a2e, #16213e, #0f3460, #53354a, #6f2232);
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
  
  }

    @keyframes gradientAnimation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

  
  .banner-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    color: white;
  }
 
  .banner-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .banner-text p {
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
  }
  
  
  
  .banner-image {
    flex: 1; 
    background: url('/public/imagenes/Banner-imagen.png') no-repeat center center; 
    background-size: cover; 
    background-position: center;
    background-color: transparent;
  }
  @media(max-width: 768px){
    .banner{
      display: flex;
      flex-direction: column;
     
    }
    .banner-text{
      position: absolute;
      padding: 10px;
    }
  }
  
  