.Gallery {
    display: flex;
    height: 69vh;
    padding: 25px;
    background: linear-gradient(90deg, #1a1a2e, #16213e, #0f3460, #53354a, #6f2232);
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
}
@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

@media (max-width: 768px) {
    .Gallery {
        display: flex;
        height: auto;
        padding: 0;
        flex-direction: column-reverse;
    }
}

.Gallery-content {
    align-content: center;
    width: 50%;
    padding: 25px;

}

@media (max-width: 768px) {
    .Gallery-content {
        align-content: center;
        width: auto;
        padding: 25px;

    }
}

.Gallery-text {
    color: #ffff;

    padding: 25px;

    h1 {
        font-size: 55px;
    }

    p {
        font-size: 30px;
    }
}