.information-content{
    display: flex;
    min-height: 69vh; 
    background: linear-gradient(90deg, #0D0D0D, #072359,#3243A6,  #5F45BF, #9483AF);
  }
  
  .banner-text-info {
    display: flex;
    
    background-color: rgba(54, 52, 52, 0.562);
    flex-direction: column;
    justify-content: center;
    margin: 0px 100px;
    color: white;
    background-size: cover;
    z-index: 1;
    border-radius: 20px;
    padding-left: 20px;
  }
  .skills-list {
    color: rgb(255, 255, 255);
    list-style-type: disc;
    margin-left: 20px;
    font-weight: bold;
  }
  
  .skills-list li {
    margin-bottom: 5px;
  }
  
  @media (max-width: 768px){
   .banner-text-info{
      width: auto;
      max-width: 100%; 
      padding: 10px;
      overflow-y: auto; 
      border-radius: 8px;
      font-size: 16px;
      margin: 0;
   }
   
  }
  
  .banner-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
 
  